.cards {
  display: flex;
  justify-content: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.card {
  width:200px;
  text-align: center;
  box-shadow: 0 0 5px rgb(230,230,230);
  border:1px solid rgb(230,230,230);
  height: 250px;
  display: inline-block;
  padding-top: 20px;
}

.card img {
  width:100px;
  height: 20%;
}

